.interior{
    display:inline-block;
    text-align:center;
    background-color:#000;
    #line-height: 150px;

    #height:120px;
    border-radius:0px;
    border: 1px solid #897967;
    -moz-box-shadow: 0 0 15px #000; /* Для Firefox */
    -webkit-box-shadow: 0 0 15px #000; /* Для Safari и Chrome */
    box-shadow: 0 0 15px #000; /* Параметры тени */
    padding: 3px;
    margin: 10px;    
    position: relative;
}
.interior a {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.interior a img{
    display: inline-block;
    vertical-align: middle;
}
.descr{
    position:absolute;
    top:-60px;
    left: 5px
}
#content{padding:12px 20px}