@charset "utf-8";
/* CSS Document */

body {
    #background-image: url(bvh-background.jpg);
    background-repeat: no-repeat;
    background-color: #404041;
    background-position: center top;
    margin: 0px;
}
img {
    border:0px none red;
}

table {
    border-spacing:0px;
    color: white;
}

.header {

    width:1124px;
    margin:auto;
}
.language {
    font: italic 11px Georgia;
    color: #5F584E;
    width:1124px;
    height:20px;
    margin:auto;
}
.progress {
    float:left;
    color:#B3B2A4;
    font-size:12px;
}
.language a, .language a:link, .language a:visited, .language a:active {
    font: italic 11px Georgia;
    color: #5F584E;
    text-decoration:none;
}
.language a:hover, .language a.current {
    color: #b3b2a4;
} 
.contentBgd {
    width:1124px;
    margin:0px auto 20px;
    background-image:url(divbgd_teaser.jpg);
    height:518px;
}
.frame {
    width: 1124px;
    min-height: 642px;
    background: url(/img/frame.jpg) no-repeat;
    margin: 10px auto;
}
.menu {
    font: 11px 'Palatino Linotype W01';
    color: #897967;
    width: 1040px;
    height:15px;
    margin: auto;
    border-bottom: 2px solid #d2ac67;
    padding:15px 0px;
}
.menu a, .menu a:link, .menu a:visited, .menu a:active {
    font: 11px 'Palatino Linotype W01';
    color: #897967;
    text-decoration:none;
    padding-right: 25px;
    text-transform:uppercase;
}
.menu a:hover, .menu a.current {
    color: #333333;
}
.submenu {
    border-bottom: 0px none white;
    padding:10px 0px;
}
.divBox {
    width: 1124px;
    min-height: 516px;
    margin:auto;
    overflow:hidden;	
    padding:0px;
}
.divBox p {
    font: 13px 'Palatino Linotype W01';
    color: #white;
}
.divBox em, .divBox i {
    font-family: 'Palatino LT W02 Italic';
}


.footer {
    color: white;
    background-color: #404041;
    position:relative;
    padding: 8px;
    margin: 0px auto;
    min-height:20px;
    text-align:right;
}
.footer a, .footer a:link, .footer a:visited, .footer a:active {
    font: italic 13px Times New Roman;
    color: white;
    text-decoration:none;
}
.footer a:hover {
    color: #white;
}
.footerLogo {
    #position:relative;
    top:-5px;
}
.shadow {
    -moz-box-shadow: 0px 0px 25px 8px #000;;
    -webkit-box-shadow: 0px 0px 25px 8px #000;;
    box-shadow: 0px 0px 25px 8px #000;;

    behavior: url(ie-css3.htc);
}
h1 {
    font: 18px 'Palatino Linotype W01';
    color: #ffffff;
    margin:0px 0px 20px 0px;
    padding: 0px;
}
p {
    font: 14px 'Palatino Linotype W01';
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.slideShow{
    padding:0px 0px 20px; 
    width:1124px; 
    height:402px;
    margin:auto;
    position: relative;
}
.toolTip {
    width:480px;
    overflow:auto;
    height:auto;
    position:absolute;
    right:-10px;
    bottom:25px;
    padding-right:10px;
    display:none;
}
.toolTip p {
    overflow:auto;
    height:auto;
    padding:20px;
    background-color:#191b1a;
    font: 10px/17px Georgia;
    color: white;
    text-align:left;

    -moz-box-shadow: 3px 3px 8px #333;
    -webkit-box-shadow: 3px 3px 8px #333;
    box-shadow: 3px 3px 8px #333;
    behavior: url(ie-css3.htc);
}
.toolTip .pointer {
    background:url(/img/tooltip_pointer.png) no-repeat 350px 0px;
    height:22px;
}

#imager {
    border: 1px solid lightgray;
}
#imager .thumb-holder {
    margin-right: 10px;
}

#tpl2colsIT {
    background:url(/img/view_bgd_gray.jpg) no-repeat;
    
    width: 100%; 
    min-height: 516px;
}
#tpl2colsIT tbody{vertical-align: top;}
#tpl2colsITRight{
    background-color:#8a7869;
    padding: 20px 80px 20px 115px; 
   #padding:10px 10px 10px 10px;
    font-size:15px;
    width: 100%;
    /*color:#867966;*/
}
#tpl2colsITRight2{
    background-color:#8a7869;
    padding: 0px 0px 0px 0px; 
   #padding:10px 10px 10px 10px;
    font-size:15px;
    width: 100%;
    /*color:#867966;*/
}

#tpl2colsITRight2 p{
    color:#white;
    padding-bottom: 5px;
    font: 18px Times New Roman;
}


#tpl2colsITRight4{
    background-color:#8a7869;
    padding: 0px 0px 0px 0px; 
   #padding:10px 10px 10px 10px;
    font-size:15px;
    width: 100%;
}

#tpl2colsITRight4 p{
    color:#white;
    padding-bottom: 5px;
    font: 17px Times New Roman;
}

#tpl2colsITRight3{
    background-color:#8a7869;
    padding: 0px 0px 0px 0px; 
   #padding:10px 10px 10px 10px;
    font-size:15px;
    width: 100%;
    /*color:#867966;*/
}

#tpl2colsITRight3 p{
    color:#white;
    font: 18px Times New Roman;
    padding-bottom: 5px;
}




#tpl2colsITRightNo{
    background-color:white;
    padding: 20px 64px;
    font-size:15px;
    color:#867966;
}

#tpl2colsITRight h1{
    font-size:22px;
    color:#white;
}
#tpl2colsITRight p{
    color:#white;
    font: 18px Times New Roman;
    padding-bottom: 5px;
}
#tpl2colsITRight a, #tpl2colsITRight a:link, #tpl2colsITRight a:visited, #tpl2colsITRight a:active {
color: #b3b2a4;
#    text-decoration:none;
}

#tpl2colsITRight a:hover {
color: #5F584E;
    text-decoration:none;
}

#content a, #tpl2colsITRight a:link, #tpl2colsITRight a:visited, #tpl2colsITRight a:active {
color: #FFF;
}



#tpl2colsITRightNo a:hover {
color: #5F584E;
    text-decoration:none;
}



#tpl2colsITRightBrown {
    background-color:#897968;
    padding:20px 80px 20px 115px;
    font-size:15px;
    color:white;
}
#tpl2colsITRightBrown h1{
    font-size:18px;
    color:white;
}
#tpl2colsITRightBrown p{
    font-size:15px;
    color:#C5C5B7;
}
#tpl2colsITRightBrown em, #tpl2colsITRightBrown i {
    font-size: 15px;
    font-family: 'Palatino LT W02 Italic';
    color:white;
}


#tpl2colsGT {
    padding:0px 20px;
    background-color:#897968;
}
#tpl2colsGT td.thumb {
    height: 235px;
}
#tpl2colsITgrid {
    height: 520px;
}
#tpl2colsITgridRight{
    background-color:white;
    padding:20px 80px 20px 115px;
}
#tpl2colsITgridRight h1{
    font-size:18px;
    color:#5D5F63;
}
#tpl2colsITgridRight p{
    font-size:15px;
    color:#867966;
}
#tpl2colsGT i , #tpl2colsGT em{
    font-size: 13px;
    line-height:20px;
    color:white;
    font-family: 'Palatino LT W02 Italic';
}


#groupDiv  
{
    background:url('/img/view_bgd_dark.jpg') 0px 0px;
    height:520px;
}
#groupDiv .left
{
    padding:50px;
    min-height:200px; 
    float:left; 
    color:#837C74;	
}
#groupDiv .right
{
    height:100%; 
    background-color:#191b1a;  
    float:right;  
    width:690px; 
    color:#837C74;
}
#groupDiv .locationsRight{
    width:auto;
}
#groupDiv  p 
{
    color : #837C74;
    font-size:15px;
}
#groupDiv .right h1 
{
    color : #837C74;
    padding:50px 30px 0px;
    font-size:24px;
    margin:0px;
}
#groupDiv .right p
{
    padding:10px 30px;
}
#groupDiv .right a
{
    font-family: 'Palatino LT W02 Italic';
    color:#837C74;
    text-decoration:none;
}
#groupDiv .left a 
{
    font-size:15px;
    text-transform:uppercase;
    line-height:25px;
    text-decoration:none;
    color:#837C74;
}
#groupDiv a:hover
{
    color:#fcfbf9;	
}
.groupMenuDesc {
    padding:5px 15px 15px;
}
#groupDiv i , #groupDiv em{
    font-family: 'Palatino LT W02 Italic';
}
#groupDiv a.current
{
    color:white;	
}
#groupDiv .locationsLeft
{
    color:white;	
    width:390px;
}
#groupDiv .locationsRight p {
    padding:0px;
}
#groupDiv .locationsLeft a
{
    text-transform:none;
    font:15px 'Palatino LT W02 Italic';
}


#contactPage {
    width: 100%; 
    background: url('/img/view_bgd_dark.jpg') 0px 0px;
    height: 500px;
}
#contactPage .left {
    width: 40%; 
    color:white;
}
#contactPage .left a {
    font-family: 'Palatino LT W02 Italic';
    color:white;
    text-decoration:none;
}
#contactPage .left p, #contactPage .left h1 {
    color:white;
    padding:0px 80px;
}
#contactPage .right  {
    width: 60%; 
    background-color:#191B1B;
    color:#C5C5B7;
    font:12px 'Palatino Linotype W01';
}
#contactPage .right table {
    color:#C5C5B7;
    font:12px 'Palatino Linotype W01';
}

#contactPage em, #contactPage i {
    font-family: 'Palatino LT W02 Italic';
}
#contactPage .right em, #contactPage .right i {
    font-size:13px;
    color:#897967;
}
#contactPage .right #contact {
    width: 500px;
    margin: 80px auto;
}
#contactPage .inputsLeft {
    padding-right: 20px;
}
#contactPage .inputsLeft td {
    text-align:right;
}
#contactPage input, #contactPage textarea {
    border:1px solid #897967;
    background-color:#191B1B;
    height:21px;
    margin:0px;
    padding:2px;
    color:white;
}
#contactPage textarea {
    width: 220px; 
    height: 70px;
}
#contactPage input[type="radio"] {
    position:relative;
    top:5px;
}
#contactPage input[type="submit"] {
    padding:5px;
    cursor:pointer;
    height:auto;
}
#contactPage input[name="Other"] {
    margin-top:5px;
}
#contactPage .tnx{
    color:#C5C5B7;
    padding:0 120px;
}
#contactPage .right{
    vertical-align:middle;
}
.map_links{
    float: left; width: 317px; 
    margin:10px 5px 0px 35px;
    font-size: 11px;
    line-height: 14px;
}
.map_links + .map_links{
    margin:10px 35px 0px 5px;
}
.map_links td{
    vertical-align:top;
    color:#fff
}
.map_links  a {
    position:relative;
    display:block;
    color: #837C74;
    text-decoration: none;
    padding-left:20px;
    min-height:16px;
}
.map_links a:hover {
    color: #FCFBF9;
}
.map_links a img{
    position:absolute;
    top:0;
    left:0
}
.map_links a img + img{
    left:20px
}
#groupDiv p.tt 
{
    color : #fff;
    font-size:15px;
    margin-bottom:0;
    width:600px;
    margin-top:15px;
}
#groupDiv p.tt.empty 
{
    width:10px;
}
#mti_wfs_colophon{
    display:none !important
}