@charset "utf-8";
/* CSS Document */

.menu {
    font: 14px Times New Roman;
    color: #897967;
    width: 1040px;
    height:15px;
    margin: auto;
    #border-bottom: 2px solid #d2ac67;
    padding:15px 0px;

}
.menu a, .menu a:link, .menu a:visited, .menu a:active {
    font: 11px Times New Roman;
    color: #5c585a;
    text-decoration:none;
    padding-right: 25px;

}
.menu a.current {
    color: #585861;
    font-weight:bold;
}
.menu a:hover{
    color: rgb(166, 166, 173);;
}
.divBox p {
    font: 13px Times New Roman;
    color: #white;
}

h1 {
    font: 18px Times New Roman;
    color: #ffffff;
    margin:0px 0px 20px 0px;
    padding: 0px;
}
p,li,ul {
    font: 14px Times New Roman;
    color: #ffffff;
    margin: 0px;
padding-right: 10px;
}

ul, li {
    list-style-image:none;
    list-style-position:inside;
    list-style-type:dotted;
  margin: 1px;
padding: 2px;
}



#tpl2colsITRightBrown em, #tpl2colsITRightBrown i{
    font-size: 15px;
    font-family: Times New Roman;
    color:white;
}

.divBox em, .divBox i, #imageDescription, #contactPage .right table, #contactPage .right {
    font-family: Times New Roman;
}
#contactPage em, #contactPage i {
    font-family: Times New Roman;
    font-style:italic;
}
#groupDiv .locationsLeft a {
    font-family: Times New Roman;
}

.pdf {
background: url(http://bravo-m.ru/img/pdf-icon.png) no-repeat 0 0 transparent;
padding-left: 50px;
padding-top: 5px;
height: 50px;
}

.jpeg {
background: url(http://bravo-m.ru/img/jpg-icon.png) no-repeat 0 0 transparent;
padding-left: 50px;
padding-top: 5px;
height: 50px;

}


table thead, table tfoot {
background: #404041;
color: #CCCCCC;
font-size: 15px;
}